@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  font-family: "Playwrite CU", Arial, sans-serif;
  color: #333;
  height: 100%;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(40%) blur(5px);
  z-index: -1;
}

#content {
  position: relative;
  width: 100%;
  padding-top: 80px;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20em;
  align-items: center;
  color: #fff;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #fff;
  z-index: 1000;
}
nav p {
  color: #ede0d4;
  font-size: 2rem;
}
nav span {
  color: #986b54;
}

h1 {
  font-size: 2.5rem;
}

.logo-image {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  font-family: "Poppins", "Courier New", Courier, monospace;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
  color: #ede0d4;
}

.homepage {
  display: flex;
  flex-direction: column;
  gap: 54px;
  color: #ede0d4;
  width: 60vw;
  font-family: "Spectral", "Courier New", Courier, monospace;
}

.homepage p {
  font-size: 1.1rem;
  font-weight: bold;
}

.homepage button {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  transition: border 0.2s ease-out;
}

.homeButtons {
  display: flex;
  flex-direction: center;
  justify-content: center;
  gap: 24px;
}
